<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Race Leaderboard</title>
    <script src="../js/jquery.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <script src="../js/restrict.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/base.css">
</head>
<body data-new-gr-c-s-check-loaded="14.1088.0" data-gr-ext-installed="">
    
<h1 class="page-title">Leaderboard</h1>
<div id="leaderboard">
    
        <div class="racer">
            <h2 class="racer-position">1</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 8</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>2</p>
                            <p>9538</p>
                        </li>
                    
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                </ol>
            </div>
        </div>
        
        <div class="racer">
            <h2 class="racer-position">1</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 8</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>2</p>
                            <p>9538</p>
                        </li>
                    
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">2</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 16</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>2</p>
                            <p>9217</p>
                        </li>
                    
                        <li>
                            <p>5</p>
                            <p>7310</p>
                        </li>
                    
                        <li>
                            <p>1</p>
                            <p>2879</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">3</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 3</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>4</p>
                            <p>9074</p>
                        </li>
                    
                        <li>
                            <p>2</p>
                            <p>8112</p>
                        </li>
                    
                        <li>
                            <p>5</p>
                            <p>4942</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">4</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 5</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>3</p>
                            <p>9029</p>
                        </li>
                    
                        <li>
                            <p>4</p>
                            <p>5319</p>
                        </li>
                    
                        <li>
                            <p>4</p>
                            <p>4808</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">5</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 0</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>3</p>
                            <p>8980</p>
                        </li>
                    
                        <li>
                            <p>1</p>
                            <p>7515</p>
                        </li>
                    
                        <li>
                            <p>4</p>
                            <p>5260</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">6</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 11</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>1</p>
                            <p>8507</p>
                        </li>
                    
                        <li>
                            <p>5</p>
                            <p>7153</p>
                        </li>
                    
                        <li>
                            <p>2</p>
                            <p>6990</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">7</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 18</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>1</p>
                            <p>6954</p>
                        </li>
                    
                        <li>
                            <p>2</p>
                            <p>6664</p>
                        </li>
                    
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">8</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 12</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>4</p>
                            <p>6879</p>
                        </li>
                    
                        <li>
                            <p>4</p>
                            <p>6586</p>
                        </li>
                    
                        <li>
                            <p>5</p>
                            <p>4917</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">9</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 1</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>4</p>
                            <p>6050</p>
                        </li>
                    
                        <li>
                            <p>2</p>
                            <p>6030</p>
                        </li>
                    
                        <li>
                            <p>5</p>
                            <p>651</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">10</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 6</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>4</p>
                            <p>4653</p>
                        </li>
                    
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">11</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 4</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>2</p>
                            <p>4318</p>
                        </li>
                    
                        <li>
                            <p>3</p>
                            <p>4145</p>
                        </li>
                    
                        <li>
                            <p>2</p>
                            <p>3766</p>
                        </li>
                    
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">12</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 2</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>5</p>
                            <p>3443</p>
                        </li>
                    
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">13</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 15</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>1</p>
                            <p>2975</p>
                        </li>
                    
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                </ol>
            </div>
        </div>
    
        <div class="racer">
            <h2 class="racer-position">14</h2>
            <div class="racer-container">
                <h3 class="racer-name">User 17</h3>
                <ol class="racer-times">
                    
                        <li>
                            <p>1</p>
                            <p>624</p>
                        </li>
                    
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                        <li>
                            <p>Ingen tid</p>
                        </li>
                    
                </ol>
            </div>
        </div>
    
</div>
<div class="back-container">
    <a href="index.html" class="go-back">Gå tilbage til setup</a>
</div>


</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>